*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body,#root{
  height:100%;
  width: 100%;
}
html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.create-post-section{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: #f0f0f0;
}

.create-post-section form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.create-post-section input,
.create-post-section textarea{
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.create-post-section button{
  background-color: #4ccaf9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
}

.create-post-section button:hover{
  background-color: #0056b3;
} 

.feed-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap:20px;
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
  padding:20px;
}

.post-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-bottom: 20px;
}

.post-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.post-card h3 {
  margin-bottom: 10px;
}