*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e1df;
  font-family: 'Poppins', sans-serif;
}

.display{
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

button{
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.btn-clear{
  background-color: #ff4757;
}

.btn-operator{
  background-color: #2f3542;
}

.btn-number{
  background-color: #2f3542;
}