@import "tailwindcss";
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;

}