/* CSS (casacading Style sheet) */

/* Style Html page 

Cascading → order of rules decides priority.

Style Sheets → rules applied to many pages.

Types of CSS

Inline CSS
<p style="color:red">inline </p>

Internal CSS
<style>
        h1 {color:red}
</style>

External CSS

<link rel="stylesheet" href="style.css"> */

/* CSS syntax:
selector{
    property:value;
} */


/* Selecting Elements
Universal → * { margin: 0; padding: 0; }

Tag → h1 { color: blue; }

Class → .highlight { color: green; }

ID → #special { color: red; }
 Text & Color Properties
Example:
 Use class (reusable), ID (unique) */


*{
    margin: 0;
    padding: 0;
}

/* @font-face {
    font-family: "My font";
    src: url();
} */

div{
    background-color: aliceblue;
    color: black ;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    background: linear-gradient(to right, red,yellow);
    background: radial-gradient(circle,blue,white);
    background-image: url();
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    /* css box Model */
    margin: auto;
    padding: auto;

    border: solid;
    border-radius: 0%;

    /* positions */

    position: relative;
    position: absolute;
    position: fixed;
    position: static;
    position: sticky;

    /* flex */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    flex-flow: column-reverse;
    gap: 20px;

    /* transform */
    transform: translateX(100px);
    transform: translateY(100px);
    transform: translate(-50%,-50%);
    transform: scale(100px);
    transform: rotate(45deg);
    transform: skew(2deg,10deg);
    transform: matrix(1,0.5,0.5,1,30);
    perspective: 100px;


    /* transition */
    /* transition: property duration timing-function delay; */
    transition: all 1s;


    /* Display property */
    display: block;
    display: inline;
    display: inline-block;
    box-sizing: border-box;
    -webkit-text-stroke: 2px red;
    -webkit-text-fill-color: aliceblue;
    /* -webkit-background-clip: text; */

    /* Grid */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);  
    grid-auto-flow: column;

}    

::-webkit-scrollbar{
    display: none;
}
div:hover{
    background-color: aqua;

}
/* 
id */
#unique {
    color: red;
}
/* class */
.noted{
    color:green
}

/* Responsive Design */

/* Mobile styles */
.example {
    font-size: 1rem;
}

/* Tablet styles */
@media (min-width: 768px) {
    .example {
        font-size: 1.25rem;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    .example {
        font-size: 1.5rem;
    }
}

/* units */
/* vw/vh,rem, em, % , px*/


/* SCSS */
/* SCSS (sassy css)

SCSS is an advanced version of CSS that makes writing styles easier and
more powerful. It adds extra features like nesting, mixins, and imports,
which help you write cleaner and more organized code.

### 3. Nesting

In normal CSS, you often repeat selectors again and again:

But in SCSS, you can **nest** your CSS the same way your HTML is
structured: it makes your css more neat and readable


nav {
  background: black;

  ul {
    list-style: none;

    li {
      display: inline-block;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}


------------------------------------------------------------------------

### 4. Partials & Import

When your project grows, you don't want all your code in **one big
file** it's confusing.

So SCSS allows you to **split your styles** into small files called
**partials**.

For example : partial files start with `_` (underscore)

    _header.scss
    _footer.scss
    _variables.scss
    style.scss

Then you combine them in your main file using:


@import "header";
@import "footer";


------------------------------------------------------------------------

### 5. Mixins

A **mixin** is like a "reusable piece of code."

If you find yourself writing the same CSS again and again for example,
Flexbox centering you can save it as a mixin.

Example:


@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include flex-center;
}


Now you can use `@include flex-center;` anywhere you need centering.

No need to retype those three lines again and again.

You can even make your mixins smarter by adding **arguments** (like
function parameters):


@mixin box($width, $color) {
  width: $width;
  background: $color;
}

.card {
  @include box(200px, #ff6347);
}

So now your `.card` will automatically get a width of 200px and a
background color of tomato all from one reusable mixin.

------------------------------------------------------------------------

### 6. Built-in Functions

SCSS has some **in-built color tools** that make design tweaks super
easy.

Examples:

lighten($color, 20%); // makes the color lighter
darken($color, 10%);  // makes the color darker
mix(#ff0000, #0000ff, 50%); // mixes two colors

You can use them like this:

button {
  background: lighten(#3498db, 10%);
} */





