*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c1c1c;
}

.container{
    width: 400px;
    padding: 30px;
    background-color: #0a0909;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

input[type="text"], input[type="email"]{
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #3a3a3a;
    color: #fff;
    font-size: 16px;
}
.submit-btn{
    width: 100%;
    padding: 12px 15px;
    margin: 20px 0;
    border: none;
    border-radius: 8px;
    background-color: #575757;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn:hover{
    background-color: #777777;
}
